# This user is equivelant to root.  Must have '*'
# permissions on the message bus.
system.props = \
	goss.system.manager=system,\
	goss.system.manager.password=manager

# The following are used for the core-client connection.
activemq.props = \
	broker-name=GOSS_Broker,\
	activemq.host=0.0.0.0,\
	activemq.start.broker=true,\
	openwire.port=61616,\
	stomp.port=61613,\
	ws.port=61614
	
#activemq.broker.file=

ssl.props = \
	ssl.port=61443,\
	ssl.enabled=false,\
	client.keystore=keystores/myclient.ks,\
	client.keystore.password=GossTempClient,\
	client.truststore=keystores/myclient.ts,\
	client.truststore.password=GossClientTemp,\
	server.keystore=keystores/mybroker.ks,\
	server.keystore.password=GossServerTemp,\
	server.truststore=keystores/myserver.ts,\
	server.truststore.password=GossTrustServer
	