{
	"id":"python_app_example",
	"description":"An GridAPPS-D application example written in python",
	"creator":"pnnl",
	"inputs":["/topic/goss.gridappsd.fncs.output"],
	"outputs":["/topic/goss.gridappsd.fncs.input"],
	"options":"SIMULATION_ID",
	"execution_path":"app/vvoapp.py",
	"type":"PYTHON",
	"launch_on_startup":false,
	"prereqs":["fncs-goss-bridge"],
	"multiple_instances":true
}