# Configuration for the goss-core module.  Each jar in 
# goss-core can be configured using the following.  During
# compilation 'mvn compile' the place holders @@ will be
# replaced with values from a global goss.properties file.

# This user is equivelant to root.  Must have '*'
# permissions on the message bus.
goss.system.manager = system
goss.system.manager.password = manager

# The following are used for the core-client connection.
goss.openwire.uri = tcp://0.0.0.0:61616
goss.stomp.uri = stomp://0.0.0.0:61613
goss.ws.uri = ws://0.0.0.0:61614
goss.ssl.uri = ssl://0.0.0.0:61443

goss.start.broker = true
goss.broker.file = ${activemq.broker.file}

# Used in the core-ssl.bndrun file
client.keystore = ${client.keystore}
client.keystore.password = ${client.keystore.password}
client.truststore = ${client.truststore}
client.truststore.password = ${client.truststore.password}
ssl.enabled = false

