{
	"id": "dnp3_service",
	"description": "A dnp3 outstation implementation.",
	"creator": "PNNL",
	"input_topics": [],
	"output_topics": [],
	"static_args": ["services/dnp3_service/points_config.yml"],
	"execution_path": "services/dnp3_service/start_service.py",
	"type": "PYTHON",
	"launch_on_startup": "false",
	"service_dependencies": [],
	"multiple_instances": "true",
	"environmentVariables":[]
}
