{
	"id": "example_service",
	"description": "This is an example of service config",
	"creator": "PNNL",
	"input_topics": [topic.goss.gridappsd.example_service.input],
	"output_topics": [],
	"static_args": ["2"],
	"execution_path": "services/example_service/service/example_service.py",
	"type": "PYTHON",
	"launch_on_startup": "false",
	"service_dependencies": ["dependency_service"],
	"multiple_instances": "true",
	"environmentVariables":[{"envName":"EXAMPLE_ENV","envValue":"example_value"}]
}