{
	"id": "fncsgossbridge",
	"description": "Bridge between GOSS and FNCS message bus",
	"creator": "PNNL",
	"inputs": ["/topic/goss.gridappsd.fncs.input"],
	"outputs": ["/topic/goss.gridappsd.fncs.output"],
	"options": "",
	"execution_path": "services/fncsgossbridge/service/fncsgossbridge.py",
	"type": "PYTHON",
	"launch_on_startup": "false",
	"prereqs": ["fncs"],
	"multiple_instances": "true",
	"env_var":{"FNCS_FATAL":false}
}