{
	"id": "fncs",
	"description": "Framework for Network Co-Simulation",
	"creator": "PNNL",
	"inputs": [],
	"outputs": [],
	"static_args": "2",
	"execution_path": "fncs_broker",
	"type": "EXE",
	"launch_on_startup": "false",
	"prereqs": [],
	"multiple_instances": "true",
	"env_var":{"FNCS_FATAL":false}
}