{
	"id": "fncs",
	"description": "Framework for Network Co-Simulation",
	"creator": "PNNL",
	"inputs": [],
	"outputs": [],
	"static_args": ["2"],
	"execution_path": "fncs_broker",
	"type": "EXE",
	"launch_on_startup": "false",
	"prereqs": [],
	"multiple_instances": false,
	"environmentVariables":[{"envName":"FNCS_FATAL","envValue":false},{"envName":"FNCS_BROKER","envValue":"tcp://*:(simulationPort)"}]
}
