{
	"id": "GridLAB-D",
	"description": "GridLAB-D is a distribution system simulation and analysis tool",
	"creator": "PNNL",
	"inputs": [],
	"outputs": [],
	"static_args": [],
	"execution_path": "gridlabd.sh",
	"type": "EXE",
	"launch_on_startup": "false",
	"service_dependencies": ["helics","helicsgossbridge","gridappsd-alarms","gridappsd-voltage-violation"],
	"multiple_instances": false,
	"environmentVariables":[],
	"catagory": "SIMULATOR"
}
