{
	"id": "helicsgossbridge",
	"description": "Bridge between GOSS and HELICS message buses",
	"creator": "PNNL",
	"inputs": ["/topic/goss.gridappsd.fncs.input"],
	"outputs": ["/topic/goss.gridappsd.fncs.output"],
	"static_args": ["(simulationId)","(simulationPort)","(simulationDir)","'(request)'"],
	"execution_path": "/gridappsd/services/helicsgossbridge/service/helics_goss_bridge.py",
	"type": "PYTHON",
	"launch_on_startup": "false",
	"prereqs": ["helics"],
	"multiple_instances": "false",
	"environmentVariables": []
}
