{
	"id": "helics",
	"description": "HELICS broker application.",
	"creator": "PNNL",
	"inputs": [],
	"outputs": [],
	"static_args": ["-f","(numFederates)","--port=(simulationPort)","--loglevel=3"],
	"execution_path": "helics_broker",
	"type": "EXE",
	"launch_on_startup": "false",
	"prereqs": [],
	"multiple_instances": "false",
	"environmentVariables": []
}
