{
	"id": "OCHRE",
	"description": "OCHRE",
	"creator": "NREL",
	"inputs": [],
	"outputs": [],
	"static_args": ["run", "--path (simulationFile)", "--broker-loglevel=2"],
	"execution_path": "helics",
	"type": "EXE",
	"launch_on_startup": "false",
	"service_dependencies": ["helics","helicsgossbridge","gridappsd-alarms","gridappsd-voltage-violation"],
	"multiple_instances": false,
	"environmentVariables":[],
        "category":"SIMULATOR"
}
