{
	"id": "OpenDSS",
	"description": "OpenDSS is a distribution system simulation and analysis tool",
	"creator": "EPRI",
	"inputs": [],
	"outputs": [],
	"static_args": [],
	"execution_path": "opendsscmd",
	"type": "EXE",
	"launch_on_startup": "false",
	"service_dependencies": ["helics","helicsgossbridge","gridappsd-alarms","gridappsd-voltage-violation"],
	"multiple_instances": false,
	"environmentVariables":[]
}
