{
	"id": "context_manager",
	"description": "GridAPPS-D Context Manager for distributed applications/agents",
	"creator": "PNNL",
	"inputs": [],
	"outputs": [],
	"static_args": [],
	"execution_path": "context_manager",
	"type": "EXE",
	"launch_on_startup": "true",
	"prereqs": ["gridappsd-topology-daemon"],
	"multiple_instances": "false",
	"environmentVariables": [{"envName":"GRIDAPPSD_APPLICATION_ID","envValue":"context_manager"}]
}
