# Configuration for the goss-core module.  Each jar in 
# goss-core can be configured using the following.  During
# compilation 'mvn compile' the place holders @@ will be
# replaced with values from a global goss.properties file.

# This user is equivelant to root.  Must have '*'
# permissions on the message bus.
goss.system.manager = ${goss.system.manager}
goss.system.manager.password = ${goss.system.manager.password}

# The following are used for the core-client connection.
goss.openwire.uri = tcp://${activemq.host}:${openwire.port}
goss.stomp.uri = stomp://${activemq.host}:${stomp.port}
goss.ws.uri = ws://${activemq.host}:${ws.port}
goss.ssl.uri = ssl://${activemq.host}:${ssl.port}

goss.start.broker = ${activemq.start.broker}
goss.broker.file = ${activemq.broker.file}

# Used in the core-ssl.bndrun file
client.keystore = ${client.keystore}
client.keystore.password = ${client.keystore.password}
client.truststore = ${client.truststore}
client.truststore.password = ${client.truststore.password}
ssl.enabled = ${ssl.enabled}

