# Configuration for the goss-core module.  Each jar in 
# goss-core can be configured using the following.  During
# compilation 'mvn compile' the place holders @@ will be
# replaced with values from a global goss.properties file.

# The following are used for the core-client connection.
goss.openwire.uri = tcp://0.0.0.0:61616
goss.stomp.uri = stomp://0.0.0.0:61613
goss.ws.uri = ws://0.0.0.0:61614
