on:
  push:
  workflow_dispatch:

env:
  DOCKER_IMAGE_NAME: gridappsd
  DOCKER_PROJECT: gridappsd

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Gradle
        run: make dist

      - name: Log in to docker
        if: github.repository_owner == 'GRIDAPPSD'
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and push the image
        if: github.repository_owner == 'GRIDAPPSD'
        run: |
          TAG="${GITHUB_REF#refs/heads/}"
          TAG="${TAG#refs/tags/}"
          TAG="${TAG//\//_}"
          ORG="${{ env.DOCKER_PROJECT }}"
          IMAGE="${ORG}/${{ env.DOCKER_IMAGE_NAME }}"
          TIMESTAMP=$(date +'%y%m%d%H')
          GITHASH=$(git log -1 --pretty=format:"%h")
          BUILD_VERSION="${TIMESTAMP}_${GITHASH}"
          echo "BUILD_VERSION $BUILD_VERSION"
          echo "TAG ${IMAGE}:${TIMESTAMP}_${GITHASH}"
          docker build --build-arg VERSION="${TAG}" --build-arg TIMESTAMP="${BUILD_VERSION}" -t ${IMAGE}:${TIMESTAMP}_${GITHASH} .

          docker tag ${IMAGE}:${TIMESTAMP}_${GITHASH} ${IMAGE}:${TAG}
          docker push ${IMAGE}:${TIMESTAMP}_${GITHASH}
          docker push ${IMAGE}:${TAG}
